<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Test App</title>
	<link rel="shortcut icon" href="">
	<!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">-->
	<link rel="stylesheet" href="css/all.min.css">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
																				<span class="sr-only">Toggle navigation</span>
																				<span class="icon-bar"></span>
																				<span class="icon-bar"></span>
																				<span class="icon-bar"></span>
																</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<!--.nav-collapse -->
		</div>
	</nav>

	<div ng-app="app">
		<div ng-controller="ExampleController as exC">

			<form name="form" class="css-form" novalidate>

				<label>Name:
				<input type="text" ng-model="exC.user.name" name="uName" required="" />
				</label>
				<br />
				<div ng-show="form.$submitted || form.uName.$touched">
					<span ng-show="form.uName.$error.required">Tell us your name</span>
				</div>


				<label>E-mail:
				<input type="email" ng-model="exC.user.email" name="uEmail" required="" />
				</label
				><br />
				<div ng-show="form.$submitted || form.uEmail.$touched">
					<span ng-show="form.uEmail.$error.required">Tell us your mail</span>
					<span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
				</div>

				Gender: <label><input type="radio" ng-model="exC.user.gender" value="male" />male</label>
				<label><input type="radio" ng-model="exC.user.gender" value="female" />female</label><br />

				<label>
    					<input type="checkbox" ng-model="exC.user.agree" name="userAgree" required="" />
    			I agree:</label>
    			<input ng-show="exC.user.agree" type="text" ng-model="exC.user.agreeSign" required="" />
				<div ng-show="form.$submitted || form.userAgree.$touched">
					<span  ng-show="!user.agree || !user.agreeSign">Please agree and sign.</span>
				</div>


				<input type="button" ng-click="exC.reset()" value="Reset" />
				<input type="submit" ng-click="exC.update(exC.user)" value="Save" />
			</form>
			<pre>user = {{exC.user | json}}</pre>
			<pre>master = {{exC.master | json}}</pre>
		</div>
	</div>
	<!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
	<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
	<!--<script src="bower_components/angular/angular.min.js"></script>-->
	<!--<script src="angularjs/app.module.js"></script>-->
	<script src="js/all.js"></script>
</body>

</html>
